<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accessible Discord Color Generator</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app" class="grid" :class="{include_amoled}">
    <div class="config">
        <div class="config__inner">
            <label class="checkbox">
                Include AMOLED <input type="checkbox" v-model="include_amoled">
            </label>

            <label class="mode">
                Color mode:
                <select v-model="color_mode">
                    <option value="hex">Hex Colors</option>
                    <option value="web">Web Colors</option>
                </select>
            </label>

            <template v-if="color_mode === 'hex'">
                <div class="input half">
                    <label for="color_count">Colors:</label>
                    <input id="color_count" type="number" v-model="color_count" max="20" min="1">
                </div>

                <div class="input">
                    <label for="shade_count">Shades:</label>
                    <input id="shade_count" type="number" v-model="shade_count" max="3" min="1">
                </div>

                <div class="input">
                    <label for="lum_count">Luminosities:</label>
                    <input id="lum_count" type="number" v-model="lum_count" max="3" min="1">
                </div>

                <div class="input half">
                    <label for="gray_count">Grays:</label>
                    <input id="gray_count" type="number" v-model="gray_count" max="3" min="0">
                </div>
            </template>

            <div class="input">
                <label for="light_contrast">Contrast (light):</label>
                <input id="light_contrast" type="number" v-model="light_contrast" step="0.1" max="20" min="1.5">
            </div>

            <div class="input">
                <label for="dark_contrast">Contrast (dark):</label>
                <input id="dark_contrast" type="number" v-model="dark_contrast" step="0.1" max="20" min="1.5">
            </div>
        </div>
    </div>
    <div class="light" :style="{ background: light }">
        <message v-for="(color, i) in colors" :color="color" :key="i + '_light'"></message>
    </div>
    <div class="dark" :style="{ background: dark }">
        <message v-for="(color, i) in colors" :color="color" :key="i + '_dark'"></message>
    </div>
    <div class="amoled" v-if="include_amoled" :style="{ background: amoled }">
        <message v-for="(color, i) in colors" :color="color" :key="i + '_amoled'"></message>
    </div>
</div>

<script type="text/x-template" id="message-template">
    <div class="message">
        <p class="message--name" :style="{ color }" :title="colorLabel">Name goes here | {{ colorName }}</p>
        <p class="message--text">This is some message. Look, pretty!</p>
    </div>
</script>

<script type="text/javascript" src="index.js"></script>
</body>
</html>
