* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

@media (max-width: 1080px) {
    .grid > .config {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

@media (max-width: 732px) {
    .light, .dark, .amoled {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

.config__inner {
    position: sticky;
    position: -webkit-sticky;
    top: 4em;
}

@media (max-width: 1080px) {
    .config__inner {
        position: inherit;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.config label {
    display: block;
    font-weight: bold;
}

.config input {
    margin-bottom: 1em;
}

.config .checkbox {
    text-align: center;
    flex-basis: 100%;
    width: 100%;
    margin-bottom: 1em;
}

@media (max-width: 1080px) {
    .config .input {
        min-width: calc(33% - 2em);
        margin: 1em 0.25em;
    }
}

.config .input input {
    padding: 0.75em 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
}

.light {
    color: #2C2F33;
}

.dark, .amoled {
    color: #e9e9ea;
}

.grid {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

@media (max-width: 1080px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: max-content;
    }
}

.grid > div {
    padding: 4em 6em;
    flex: 1;
}

@media (max-width: 1080px) {
    .grid > div {
        padding: 2em 3em;
        flex: unset;
    }
}

.message {
    margin-bottom: 1em;
}

.message--name {
    font-weight: bold;
    margin-bottom: 0;
}

.message--text {
    margin-top: 0;
}
